@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

html,
body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: #1d1d39;
  color: #f3f3f3;
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
}

section {
  width: 100dvw;
}

@theme {
  --font-sans: "Rubik", sans-serif;
  --color-light-primary: #f3f3f3;
  --color-dark-primary: #1d1d39;
  --color-light-secondary: #fdfdfd;
  --color-dark-secondary: #37374f;
  --color-green: #32b768;
  --color-orange: #ff5231;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
}

@layer components {
  .padding-x {
    @apply px-5 md:px-10;
  }

  .navbar {
    @apply fixed w-full left-1/2 py-5 px-5 md:px-20 -translate-x-1/2 z-[100] transition-all duration-300 ease-in-out;

    &.scrolled {
      @apply top-0 bg-dark-primary;
    }

    &.not-scrolled {
      @apply md:top-10 top-0 bg-transparent;
    }

    .inner {
      @apply mx-auto flex items-center justify-between;
    }
    a {
      @apply flex space-x-4 items-center transition-transform duration-300 hover:scale-105;
    }
    .logo {
      @apply text-orange text-xl md:text-2xl font-semibold;
    }

    nav.desktop {
      @apply hidden lg:flex items-center;

      ul {
        @apply flex space-x-8;

        li {
          @apply text-light-secondary relative;

          span {
            @apply transition-colors duration-300 hover:text-light-primary;
          }

          .underline {
            @apply absolute -bottom-1 left-0 w-0 h-0.5 bg-orange transition-all duration-300 group-hover:w-full;
          }
        }
      }
    }
  }
}
